body {font-size: 150%; }
span.fs150 {font-size: 150%; }
span.fs125 {font-size: 125%; }
span.fs95 {font-size: 95%; }
span.fs90 {font-size: 90%; }
span.fs85 {font-size: 85%; }
span.fs75 {font-size: 75%; }
